$violet: #ECCEF5;
$beige: #CEF6F5;
$blue: #CED8F6;
$green: #E0F8E0;
$yellow: #F5F6CE;
$gray: #EAE5E5;

.permission {
	&__number {
		width: 150px;
		margin: 0;
	}

	&__slash {
		margin: 0 10px;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin:  0 0 20px 0;
	}

	&__block-button {
		position: relative;
	}

	.content__buttons {
		padding: 0;
	}
}

.pallete {
	background-color: #fff;

	&__body {
		padding: 10px;
	}

	&__list {
		display: flex;
	}

	&__item {
		padding: 0 20px 0 0;
		display: flex;
		align-items: center;
		margin: 5px 0;
	}

	&__color {
		width: 20px;
		height: 20px;
		margin: 0 5px 0 0;

		&_violet {
			background: $violet;
		}

		&_beige {
			background: $beige;
		}

		&_blue {
			background: $blue;
		}

		&_green {
			background: $green;
		}

		&_yellow {
			background: $yellow;
		}
		&_gray {
			background: $gray;
		}
	}

	&__title {
		font-size: 16px;
		margin: 0 0 5px 0;
	}
}

.table-permission {
    overflow:auto;
    max-height: 80vh;
	font-size: 14px;

    &__head,
    &__col {
		padding: 0 10px;
		max-width: 300px;
		width: auto;
        &:first-child {
			min-width: 100px;
		}
	}

	
	&__id {
		min-width: 100px;
	}

	&__period {
		min-width: 160px;
	}

	&__text {
		min-width: 500px;
	}

	&__person {
		min-width: 300px;
	}

	&__subdivision {
		min-width: 200px;
	}

	&__number {
		min-width: 150px;
	}

	&__date {
		min-width: 100px;
	}

	&__status {
		min-width: 100px;
	}

	&__subname {
		line-height: 120%;
	}

    &__head {
        background: $mainColor;
        padding: 10px 0;
    }

	&__col {
		display: flex;
		justify-content: center;
		flex-direction: column;

		&_violet {
			background: $violet;
		}

		&_beige {
			background: $beige;
		}

		&_blue {
			background: $blue;
		}

		&_green {
			background: $green;
		}

		&_yellow {
			background: $yellow;
		}

		&_gray {
			background: $gray;
		}
	}

    &__row {
        input { 
            cursor: pointer;
        }

		&_head {
			position: sticky;
			top: 0;
		}

        &:hover {
            input {
                background: #A9BCF5;
                transition: background-color 1s ease;
            }
        }
    }
}

.button-permission {
	font-size: 16px;
}

.filter-content {
	display: none;
	flex-direction: column;

	&__subtitle {
		font-size: 20px;
		margin: 0 0 10px 0;
	}

	&__list {
		display: flex;
		background: #fff;
		border-radius: 5px;
		margin: 0 0 20px 0;
		padding: 20px;
	}

	&__item {
		margin: 0 40px 0 0;
		input {
			outline: none;
			color: $mainColor;
		}
	}

	&__status-list {
		margin: 15px 0 0 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 10px;
	}

	&__status-item {
		font-size: 16px;
		display: flex;
		align-items: center;
		
		label,
		input {
			cursor: pointer;
		}

		input {
			margin: 0 5px 0 0;
		}
	}

	&__span {
		display: inline-block;
		padding: 10px 0;
		width: 150px;
		font-size: 18px;
	}

	&__buttons {
		display: flex;
		justify-content: end;
		align-items: flex-end;
		height: 100%;
		margin: 20px 0;
		padding:  0 0 20px 0;
	}

	&__button {
		width: 200px;
		color: #fff !important;
		margin: 0 0 0 40px;
	}

    &__funcs {
        display: grid;
        grid-template-columns: 1fr 2fr repeat(7, 1fr);
        grid-gap: 10px;

		.button-content {
			width: 100%;
			min-width: auto;
		}

        @media (max-width: 1400px) {
            grid-template-columns: 200px 1fr repeat(3, 200px);
		}
    }

	&_active {
		display: block;
	}
}

.permission-status {
	position: absolute;
	z-index: 100;
	top: 50px;
	right: 0;
	display: none;

	&_active {
		display: block;
	}

	&__body {
		border: 3px solid $mainColor;
		border-radius: 5px;
		background : #fff;
		padding: 10px;
		width: 350px;
	}

	&__subtitle {
		font-size: 16px;
		margin: 10px 0;
	}

	&__comment {
		border: 1px solid red;
	}
}

.pagination {

	&__body {
		padding: 20px 0;
		display: flex;
		justify-content: center;
	}
	
	&__list {
		display: flex;
		align-items: center;
		font-size: 20px;

		span {
			font-size: 16px;
		}
	}

	&__item {
		cursor: pointer;
		box-shadow: 0px 0px 8px 0px rgba(157, 161, 163, 0.2);
		border-radius: 5px;
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #fff;
		margin: 0 5px;

		&:hover {
			background: $colorHover;
		}

		&_active {
			background: $mainColor;
			color: #fff;

			&:hover {
				background: $mainColor;
			}
		}
	}
}