.typical-work {
   width: 100%;

   &__textarea {
       display: none;

       &_active {
           display: inline-block;
       }
   }

   &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 170%;
    cursor: pointer;

    &:hover {
        background: #9ACEEB;
    }
   }

   &__name {
        cursor: pointer;
       width: 100%;
       font-size: 18px;
       display: inline-block;
       padding: 10px 0;
   }

   &__checkbox {
       cursor: pointer;
       margin:  0 0 0 10px;
   }
}

.type-work-button {
    width: 400px;
    padding: 40px 0;
    margin: 0 auto;
}

.type-work-title {
    font-size: 22px;
    margin: 20px 0;
    font-weight: 600;
}